.error_main {
    background-image: url(../images/dHllHH1.webp);
    display: flex;
    justify-content: center;
    height: 615px;
}

.error_main1 {
    position: relative;
    top: 130px;
    height: 280px;
    width: 550px;
    border-radius: 15px;
    border: 1px solid rgb(152, 145, 145);
    backdrop-filter: blur(20px);
    box-shadow: rgba(226, 226, 232, 0.2) 0px 7px 29px 0px;
}

.erro_main_3 {
    position: relative;
    top: 6px;
}

.link2 {
    position: relative;
    bottom: 20px;
}

#three {
    position: fixed;
    top: 100px;
    color: white;
    font-size: 15px;
}